
@{
    ViewData["Title"] = "排序配置";
}

@section head {
    <link href="~/lib/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/css/table-checkbox.css" rel="stylesheet" />
}

@section body {
    <div class="container-fluid">
        <div class="row">
            <div id="toolbar_left" class="btn-group">
                <h4><span class="label label-warning">可选字段</span></h4>
            </div>
            <div id="toolbar_right" class="btn-group">
                <h4><span class="label label-warning">已选字段</span></h4>
            </div>
            <div id="div_left" class="col-md-5">
                <table id="tb_left"></table>
            </div>
            <div id="div_btns" class="col-md-2">
                <div style="height:calc(100vh - 10px);">
                    <div class="btn-group-vertical" style="position: relative;left:33%;top:48%;transform: translateY(-50%);">
                        <button type="button" class="btn btn-info" onclick="toRightTable();">选择&gt;&gt;</button>
                        <button type="button" class="btn btn-info" onclick="toLeftTable();">&lt;&lt;复位</button>
                        <button type="button" class="btn btn-info" onclick="allRestore();">全部复位</button>
                        <button type="button" class="btn btn-warning" onclick="saveConfig();">保存</button>
                    </div>
                </div>
            </div>
            <div id="div_match" class="col-md-5">
                <table id="tb_right"></table>
            </div>
        </div>
    </div>

    <script>
        var m_oTable = null;
        $(function () {
            getConditions();
            m_oTable = new oTableInit();
            m_oTable.initiateLeftTb();
            m_oTable.initiateRightTb();
        });

        //当clickToSelect=true时，如果不阻止事件冒泡，则点击自定义CHECKBOX时会没有反应
        var stopBubbleEvent = function () {
            if (window.event) {//IE下阻止冒泡
                event.cancelBubble = true;
            } else {
                event.stopPropagation();
            }
        }

        var oTableInit = function () {
            this.initiateLeftTb = function () {
                //初始化左边表格
                $('#tb_left').bootstrapTable('destroy');
                $('#tb_left').bootstrapTable({
                    url: '/WConfigSort/GetFieldsByTableName/'+ '@ViewData["table"]',
                    method: 'POST',                      //请求方式（*）
                    contentType: "application/x-www-form-urlencoded",
                    toolbar: '#toolbar_left',
                    silent: true, //静态刷新
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    search: false,                      //是否显示表格搜索
                    strictSearch: true,
                    showColumns: true,                  //是否显示所有的列（选择显示的列）
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    uniqueId: "unique_code",                     //每一行的唯一标识，一般为主键列
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                  //是否显示父子表
                    showLoading: false,
                    singleSelect: true,                //true只能单选，false为多选
                    showFullscreen: true,
                    columns: [
                        {
                            field: 'check', checkbox: true, formatter: function (value, row, index) {
                                if (row.check == true) {
                                    //设置选中
                                    return { checked: true };
                                }
                            }
                        },
                        {
                            field: 'show_name',
                            title: '显示名'
                        }, {
                            field: 'col_name',
                            title: '字段名'
                        },
                    ],
                    formatLoadingMessage: function () {
                        return "请稍等，正在加载中···";
                    },
                    onPostBody: function () {
                        //改变复选框样式
                        $('#tb_left').find("input:checkbox").each(function (i) {
                            var $check = $(this);
                            if ($check.attr("id") && $check.next("label")) {
                                return;
                            }
                            var name = $check.attr("name");
                            var id = name + "a-" + i;
                            var $label = $('<label for="' + id + '" onclick = stopBubbleEvent();></label>');
                            $check.attr("id", id)
                                .parent()
                                .addClass("bella-checkbox")
                                .children("span").remove();
                            $check.parent().append($label);
                        });
                    },
                    onLoadSuccess: function (data) {
                        //表格加载完成之后初始化拖拽
                    }
                });
            };

             this.initiateRightTb = function () {
                //初始化右边表格
                $('#tb_right').bootstrapTable('destroy');
                $('#tb_right').bootstrapTable({
                    url: "/WConfigSort/GetSelectedFields/"+ '@ViewData["table"]',
                    method: 'POST',                      //请求方式（*）
                    contentType: "application/x-www-form-urlencoded",
                    toolbar: '#toolbar_right',
                    silent: true, //静态刷新
                    toolbar: '#toolbar_right',              //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    search: false,                      //是否显示表格搜索
                    strictSearch: true,
                    showColumns: true,                  //是否显示所有的列（选择显示的列）
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    uniqueId: "unique_code",                     //每一行的唯一标识，一般为主键列
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                  //是否显示父子表
                    showLoading: false,
                    singleSelect: true,                //true只能单选，false为多选
                    showFullscreen: true,
                    columns: [
                        {
                            field: 'check', checkbox: true, formatter: function (value, row, index) {
                                if (row.check == true) {
                                    //设置选中
                                    return { checked: true };
                                }
                            }
                        },
                        {
                            field: 'show_name',
                            title: '已选字段名'
                        }, {
                            field: 'col_name',
                            title: '字段名'
                        },
                        {
                            field: 'operate', title: '搜索条件', align: 'center', events: operateEvents, formatter: 'searchConditionFormatter'
                        },
                    ],
                    formatLoadingMessage: function () {
                        return "请稍等，正在加载中···";
                    },
                    onPostBody: function () {
                        //改变复选框样式
                        $('#tb_right').find("input:checkbox").each(function (i) {
                            var $check = $(this);
                            if ($check.attr("id") && $check.next("label")) {
                                return;
                            }
                            var name = $check.attr("name");
                            var id = name + "b-" + i;
                            var $label = $('<label for="' + id + '" onclick=stopBubbleEvent();></label>');
                            $check.attr("id", id)
                                .parent()
                                .addClass("bella-checkbox")
                                .children("span").remove();
                            $check.parent().append($label);
                        });
                    },
                    onLoadSuccess: function (data) {
                        initiateSelectVal();
                        //表格加载完成之后初始化放拖
                        $("#h_loading_mask").css("display", "none");//关闭加载提示
                        $("#h_loading").css("display", "none");
                    }
                });
            };
        };

        var conditonData;
        var getConditions = function () {
            $.ajax({
                type: 'POST',
                url: "/WConfigSort/GetSConditions",
                dataType: "JSON",
                success: function (data) {
                    conditonData = data;
                }
            });
        }

        function searchConditionFormatter(value, row, index) {
            var strHtml = "<select class='RoleofChange form-control' id='conditon_" + index + "'>";
            strHtml += "<option value='-1'>-请选择-</option>";
            for (var i = 0; i < conditonData.length; i++) {
                strHtml += "<option value='" + conditonData[i].unique_code + "'>" + conditonData[i].code_name + "</option>";//unique_code的u为什么大写的不行？有的页面上小写的不行？
            }
            strHtml += "</select>";
            return strHtml;
        }

        //初始化select的change方法
        window.operateEvents = {
            'change .RoleofChange': function (e, value, row, index) {
                conditionChange(row, index);
            }
        };

        function conditionChange(row, index) {
            var sl = $('#conditon_' + index);
        }

        function initiateSelectVal() {
            var rows = $('#tb_right').bootstrapTable('getData');//行的数据
            for (var i = 0; i < rows.length; i++) {
                //alert($('#conditon_' + i).length);
                var sortcode = rows[i].sort_code;
                $('#conditon_' + i).val(sortcode);
                var leftId = rows[i].unique_code;
                $('#tb_left').bootstrapTable('removeByUniqueId', leftId);//unique_code的u为什么大写的不行？有的页面上小写的不行？
            }
        }

        function initiateSelectVal2() {
            var rows = $('#tb_right').bootstrapTable('getData');//行的数据
            for (var i = 0; i < rows.length; i++) {
                var sortcode = rows[i].sort_code;
                sortcode = sortcode == null ? '-1' : sortcode;
                $('#conditon_' + i).val(sortcode);
            }
        }

        //var matchedData = [];
        var toRightTable = function () {
            var dataLeft = $('#tb_left').bootstrapTable('getSelections');
            if (dataLeft.length == 0) {
                HM.alertWin("请在“可选字段”表格中选择后继续！");
                return;
            }
            var toRight= {
                unique_code: dataLeft[0].unique_code,
                col_name: dataLeft[0].col_name,
                show_name: dataLeft[0].show_name
            }
            //matchedData.push(toRight);

            var indexRight = $('#tb_right').bootstrapTable('getData').length;
            $('#tb_left').bootstrapTable('removeByUniqueId', dataLeft[0].unique_code);
            $('#tb_right').bootstrapTable('insertRow', { index: indexRight, row: toRight });
            initiateSelectVal2();
        }

        var toLeftTable = function () {
            var dataRight = $('#tb_right').bootstrapTable('getSelections');
            if (dataRight.length == 0) {
                HM.alertWin("请在“已选字段”表格中选择后继续！");
                return;
            }

            var toLeft = {
                unique_code: dataRight[0].unique_code,
                col_name: dataRight[0].col_name,
                show_name: dataRight[0].show_name
            }

            var indexLeft = $('#tb_left').bootstrapTable('getData').length;
            $('#tb_right').bootstrapTable('removeByUniqueId', dataRight[0].unique_code);
            $('#tb_left').bootstrapTable('insertRow', { index: indexLeft, row: toLeft });
            initiateSelectVal2();
        }

        var allRestore = function () {
            m_oTable.initiateLeftTb();
            $("#tb_right").bootstrapTable('removeAll');
        }

        var saveConfig = function () {
            var items = [];
            var rows = $('#tb_right').bootstrapTable('getData');
            for (var i = 0; i < rows.length; i++) {
                var rowVal = $('#conditon_' + i).val();
                if (rowVal == '-1') {
                    HM.alertWin('还有“搜索条件”未选择，请选择后继续！');
                    return;
                }
            }

            for (var i = 0; i < rows.length; i++) {
                var d = {
                    SelectedCode: rows[i].unique_code,
                    SearchCode: $('#conditon_' + i).val(),
                    OrderNumber: i
                };
                items.push(d);
            }
            $.ajax({
                type: 'POST',
                url: "/WConfigSort/SaveConfigInfo",
                dataType: "JSON",
                data: { table: '@ViewData["table"]', list: items },
                success: function (data) {
                    if (data.rst > 0) {
                        HM.hintWin('排序配置成功！');
                        return;
                    } else {
                        HM.alertWin('排序配置失败！');
                        return;
                    }
                }
            });
        }

    </script>
}

@section script {
    <script src="~/lib/bootstrap-table/js/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/lib/modal-panel/pop.min.js"></script>
    <script src="~/js/modalwindow.js"></script>
}



