
@{
    ViewData["Title"] = "加解密密码配置";
}


@section head {
    <link href="~/lib/bootstrap-table/css/bootstrap-table.css" rel="stylesheet" />
    <link href="~/css/table-checkbox.css" rel="stylesheet" />
    <link href="~/css/arch-button.css" rel="stylesheet" />
}

@section body {
    <div class="container-fluid">
        <table id="encryptGrid"></table>
    </div>

    <script>
        $(function () {
            loadTableData();
        });

        var loadTableData = function () {
            $('#encryptGrid').bootstrapTable('destroy');
            $table = $('#encryptGrid').bootstrapTable({
                url: '/WEncrypt/GetPmssions',                      //请求后台的URL（*）
                method: 'POST',                      //请求方式（*）
                contentType: "application/x-www-form-urlencoded",
                silent: true, //静态刷新
                //toolbar: '#userToolbar',              //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                search: false,                      //是否显示表格搜索
                //strictSearch: true,
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                //clickToSelect: true,                //是否启用点击选中行
                //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "unique_code",                     //每一行的唯一标识，一般为主键列
                //showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                showExport: true,
                cardView: false,                    //是否显示详细视图
                detailView: false,                  //是否显示父子表
                showLoading: false,
                //singleSelect: true,                //true只能单选，false为多选
                exportDataType: "selected",        //导出checkbox选中的行数
                showFullscreen: true,
                columns: [
                    { field: 'name', title: '密码类型' },
                    { field: 'dealing', title: '修改密码', align: 'center', events: operateEvents, formatter: 'operateFormatter' },
                ],
                formatLoadingMessage: function () {
                    return "请稍等，正在加载中···";
                },
                onLoadSuccess: function (data) {
                    //alert(JSON.stringify(data));
                    $("#h_loading_mask").css("display", "none");//关闭页面加载指示器
                    $("#h_loading").css("display", "none");
                },
                onPreBody: function () {

                }
            });
        }

        // 格式化按钮
        function operateFormatter(value, row, index) {
            return [
                '<button type="button" class="RoleOfedit btn btn-sm   btn-info" style="margin-right:15px;"><i class="fa fa-pencil-square-o" ></i>&nbsp;修改</button>'
            ].join('');

        }

        //初始化操作按钮的方法
        window.operateEvents = {
            'click .RoleOfedit': function (e, value, row, index) {
                update(row, index);
            }
        };

        function update(row, index) {
            var content = "<iframe id='updateFrame' src='/WEncrypt/UpdatePwd' style='border:0;width:100%;height:100%;'></iframe>";
            HM.dealwin(content, 600, 350, '密码修改窗口');
            var frame = document.getElementById("updateFrame");
            frame.onload = function () {//等待iframe中的页面加载完毕，再执行子页面中的函数
                var fwin = frame.contentWindow;
                fwin.passwordType = row.pwd_type;//给子窗口传值
                fwin.initiatelable();//执行子窗体的函数
            };
        }

        var closeDealWin = function () {
            pop.close('deal-win');
        }

        var hintAlert = function (t) {
            HM.alertWin(t);
        }

        var hintSuccess = function (t) {
            HM.hintWin(t);
        }
    </script>
}

@section script {
    <script src="~/lib/bootstrap-table/js/bootstrap-table.js"></script>
    <script src="~/lib/bootstrap-table/js/bootstrap-table-zh-CN.js"></script>
    <script src="~/lib/modal-panel/pop.min.js"></script>
    <script src="~/js/modalwindow.js"></script>
}



